.location {
  /* margin-left: 75px; */
  position: absolute;
  width: auto;
  margin-top: 26%;
    left: 2%;
    display: flex;
}

.location h2{
    color: white;
    margin-top: 20px;
    font-size: 50px;
    
}

.location-heading h3 {
  color: #ffffff;
  width: auto;
  margin-left: 2%;
}
$small: 300px;
$medium: 600px;

